* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: 'Poppins',sans-serif;
    color: rgb(0, 0, 0);
}

.maincon{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 100%;
}

ul{
    grid-column: span 5;
}

nav{
    grid-column: span 1;
    background: #862626;
    height: 100vh;
}

main {
    grid-column-start: 2;
    grid-column-end: 6;
    background: #393434;
}

.container {
    width: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: space-evenly;
    background: #fa36b1;
    color: white;
}

.navcontainer {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 2px solid black;
    flex-wrap: wrap;
    
}

.navcontainer li {
    border: 2px solid white;
}

.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {

    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}